@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-mail {
	font-size:math.div(18,10)*1rem;
	width: math.div(24,18)*1em;
}
.icon-tell {
	font-size:math.div(24,10)*1rem;
	width: math.div(25,24)*1em;
}
