extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg="index.png"

block title
	- let  title= 'title'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
		//-+topLine()
	//+headerBlock()
	.section
		.container
			.row.gy-3.gx-3
				.col-auto
					a.btn.btn-primary.link-modal-js(href="#modal1") modal1
				.col-auto
					a.btn.btn-primary.link-modal-js(href="#modal-thanks") modal thanks
	//+sForm()
	//+sContact()
	+footer()



