//- WP menu
mixin mnu()
	-
		var nav= { 
			"Правила участия в конкурсе":"#",
			"Data privacy":"#",
			"Use of cookies":"#",
			"Imprint":"#",
			}
	ul.menu
		each linkPatch, linkName in nav
			li.menu-item: a(href=linkPatch)= linkName

//- menu