//- pugination
mixin pugin()
	.pagination-wrapper
		ul.page-numbers
			mixin li(n)
				li
					if n
						a.page-numbers(href='#')= n 
					else
						block
			li.prev
				a.disabled(href="#")
					span.ball
						img(src="img/svg/prev.svg", alt="")
					span.prev-txt НАЗАД
			+li()
				span.page-numbers.current 1
			+li(2)
			+li(3)
			li.next
				a(href='#')
					span.prev-txt ДАЛЕЕ
					span.ball
						img(src="img/svg/next.svg", alt="")